@model TestPrototype.Models.Quiz
@using TestPrototype.Models
@{
    ViewBag.Title = "Take";
}

<h2>Take</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Quiz</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.TopicId)
        @Html.HiddenFor(model => model.QuizLength)

        
       @for (int i = 0; i < Model.QuizLength; i++)
        {

            @Html.HiddenFor(model => model.Questions[i].id)
            <div class="form-group">
                <label class="col-md-3">@Model.Questions[i].question.Question</label>
                <div class="col-md-10">

                    <div> @Html.RadioButtonFor((Model => Model.Questions[i].UserAnswer), Answer.A)A. @Model.Questions[i].question.A</div>
                    <div> @Html.RadioButtonFor((Model => Model.Questions[i].UserAnswer), Answer.B)B. @Model.Questions[i].question.B</div>
                    <div> @Html.RadioButtonFor((Model => Model.Questions[i].UserAnswer), Answer.C)C. @Model.Questions[i].question.C</div>
                    <div> @Html.RadioButtonFor((Model => Model.Questions[i].UserAnswer), Answer.D)D. @Model.Questions[i].question.D</div>
                </div>
            </div>

        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
